---
sudo: false
language: node_js
node_js:
- '7'
script:
- npm run lint
cache:
  directories:
  - node_modules
deploy:
  provider: npm
  email: robert.rossmann@strv.com
  api_key:
    secure: Yp3Z+KMXec72BAY4IAWFa4JgdK38lkbo5WOrFVZTPwh1MKxXT7oYEMSRS7TDGrYclSUhhFXxY8uwQGTLyykp8Tpph+8LUjTBwkb6R/+Gmrur6OAPUhMG0NqsEQFXS6YRvZzgomv5S4Mdivf7oTx7I3UiaY+J8JADXiQzabyr0i45srGshlKri8aDXEmBimk963BQm+4iSO9AdWIkAfKUAzhZP2at4RxHe7XLsiewjo0216Ww2wKbetf6gPWm1bfDPnbZWHnQLQvKdLgZZ1E7KMKEOfF1QdlTiwkbfWOHIAhkbLTmBmbDOcnEm3BSkODYKlj+h0E1lN9E2RaahyIcvdQYGR82iXTCjv4+kQwMGmOhCuAqvV+6FNHD7gSmAsPwmQZdNFkvE2KTvH84ziEI80x3hYGj0ZIGzTEgFafUiSoATh3bwmgkZvAkSIcvGx9t9H5nMRkIy+YrzaqwSVl6SuM2DdVl+ECn5hgZVoYSG/F/6xnxgo1aSHjgFQkxqwQWySmWn37SHD9Kh1uXdL81BwPlE64TDQR0/nZT0BKTaGGnq7s/txBBoxkZvbpESeI1tdRtcU9hsoCQ27t8TPMG3akARA87BZewHZCIgMLY1fvPt/IhrW/KKRLPTy9KYBo8tiM88NMalXTg4B6yd+1LZGIVeZ+XvLWQbADV2r1Rarw=
  on:
    tags: true
    repo: strvcom/js-coding-standards
